:root {
  --clr-dark: #141c2f;
  --clr-lighter: #1f2a48;
  --clr-accent: #4062b3;
  --clr-lighter-white: #bbc6e6;
  --clr-white: #fff;
  --img-accent: invert(0%) sepia(6%) saturate(7476%) hue-rotate(328deg) brightness(94%) contrast(106%);
  --img-white:invert(95%) sepia(0%) saturate(7500%) hue-rotate(46deg) brightness(111%) contrast(100%);
}
.light{
  --bg:var(--clr-white);
  --text:var(--clr-dark);
  --text-accent:var(--clr-dark);
  --text-lighter:var(--clr-lighter-white);
  --img-filter:var(--img-accent);
}
.dark{
  --bg:var(--clr-dark);
  --text:var(--clr-white);
  --text-accent:var(--clr-accent);
  --text-lighter:var(--clr-lighter);
  --img-filter:var(--img-white);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--bg);
  font-family: "Lato", sans-serif;
  color: var(--text);
  transition:background-image 0.5s ease-in-out;
  transition:background 500ms ease-in-out, color 1000ms ease-in-out;
}
.navbar .nav-items {
  padding-top: 1rem;
}
.nav-items .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggles{
  font-size: 32px;
  color:var(--text-lighter);
  display:flex;
  align-items: center;
}
.toggles img{
  cursor:pointer;
  width:32px;
  height:32px;
}
.sun {
  filter:var(--img-filter);
  margin-left: 1rem;
}
.moon{
  filter:var(--img-filter);
  margin-right: 1rem;
}
.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
.search {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: var(--text-lighter);
}
.search input {
  background-color: var(--text-lighter);
  outline: 0;
  border: 0;
  color: var(--clr-white);
  width: 100%;
  margin: 0 1rem;
}
.search img {
  width: 32px;
  height: auto;
}
.search button {
  border: 0;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border-radius: 10px;
  padding: 0 1rem;
  cursor: pointer;
}
.contact-info img {
  width: 24px;
}
.search button:hover {
  background-color: #6d92e9;
}
.content {
  background-color: var(--text-lighter);
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.content .user-avatar {
  height: 130px;
  width: auto;
  border: 3px solid var(--text-accent);
  border-radius: 50%;
}
.user-information {
  margin-left: 3rem;
  width: 80%;
}
.user-information .main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-information .main-info .date-joined {
  align-self: center;
}
.user-information .bio {
  margin: 1rem 0;
}
.user-information .tag {
  color: var(--clr-accent);
}
.user-information .contact-info {
  display: flex;
  margin-top: 1.5rem;
}
.user-information .info-block + .info-block {
  margin-left: 2rem;
}
.user-information .contact-info .info {
  display: flex;
  margin-bottom: 0.7rem;
}
.user-information .contact-info .info p {
  margin-left: 0.5rem;
}
.user-information .stats-container {
  display: flex;
  padding: 0.8rem 1rem;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  background-color: var(--bg);
}
@media screen and (max-width: 852px) {
  .container .content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .container .content .user-information {
    margin-left: 0;
  }
  .container .user-avatar {
    height: auto;
    width: 200px;
    margin-bottom: 1rem;
  }
  .user-information .bio {
    text-align: center;
  }
  .user-information .contact-info {
    flex-direction: column;
  }
  .user-information .info-block + .info-block {
    margin-left: 0rem;
  }
  .user-information .tag {
    text-align: center;
  }
  .user-information .main-info {
    justify-content: center;
  }
  .user-information .date-joined {
    margin-left: 1rem;
  }
}
